apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask-container
        image: swatiakshaywagh/devops-flask-app:1.0
        imagePullPolicy: Always
        ports:
        - containerPort: 5000

